<h1 class="title_page">Editar Serviço</h1>
<form method="post" class="form_model">
    <fieldset>
        <input type="hidden" value="{{servico.id}}" id="id" name="id" />
        <div class="line_form">
            <label for="titulo" class="label_form">Titulo</label>
            <input
                ng-model="servico.titulo"
                type="text"
                class="input_text_form"
                id="titulo"
                name="titulo"
                value="{{servico.titulo}}"/>
        </div>
        <div class="line_form">
            <label for="descricao" class="label_form">Descrição</label>
            <input
                ng-model="servico.descricao"
                type="text"
                class="input_text_form"
                id="descricao"
                name="descricao"
                value="{{servico.titulo}}"/>
        </div>
        <div class="line_form">
            <label for="imagem" class="label_form">Imagem</label>
            <input
                ng-model="servico.imagem"
                type="text"
                class="input_text_form"
                id="imagem"
                name="imagem"
                value="{{servico.imagem}}"/>
        </div>
        <div class="line_form">
            <label for="show_home" class="label_form">Mostrar na Home? (Y|N)</label>
            <input
                ng-model="servico.show_home"
                type="text"
                class="input_text_form"
                id="show_home"
                name="show_home"
                value="{{servico.show_home}}"/>
        </div>
        <div class="line_form">
            <input type="button" class="button_model input_submit_form" value="Salvar" ng-click="saveServico()"/>
        </div>
        <span>{{form_message}}</span>
   </fieldset>
</form>
