<h1 class="title_page">Editar Mensagem</h1>
<form method="post" class="form_model">
    <fieldset>
        <input type="hidden" value="{{mensagem.id}}" id="id" name="id" />
        <div class="line_form">
            <label for="nome" class="label_form">Nome</label>
            <input
                ng-model="mensagem.nome"
                type="text"
                class="input_text_form"
                id="nome"
                name="nome"
                value="{{mensagem.nome}}"/>
        </div>
        <div class="line_form">
            <label for="email" class="label_form">Email</label>
            <input
                ng-model="mensagem.email"
                type="text"
                class="input_text_form"
                id="email"
                name="email"
                value="{{mensagem.email}}"/>
        </div>
        <div class="line_form">
            <label for="assunto" class="label_form">Assunto</label>
            <input
                ng-model="mensagem.assunto"
                type="text"
                class="input_text_form"
                id="assunto"
                name="assunto"
                value="{{mensagem.assunto}}"/>
        </div>
        <div class="line_form">
            <label for="mensagem" class="label_form">Mensagem</label>
            <textarea
                ng-model="mensagem.mensagem"
                class="input_text_form"
                id="mensagem"
                style="height: 100px"
                name="mensagem">{{mensagem.mensagem}}</textarea>
        </div>
        <div class="line_form">
            <input type="button" class="button_model input_submit_form" value="Salvar" ng-click="saveMensagem()"/>
        </div>
        <span>{{form_message}}</span>
   </fieldset>
</form>
