<!-- INÍCIO - BREADCRUMB -->
<div id="breadcrumb" itemprop="breadcrumb">
    <div class="conteudo_padrao">
        <a href="#home" title="Home">Home</a> > <a href="#quem_somos" title="Sobre a Dexter">Sobre a Dexter</a> > <a href="#linha_do_tempo" title="Linha do Tempo">Linha do Tempo</a>
    </div>
</div>
<!-- FIM - BREADCRUMB -->
<div id="corpo" class="conteudo_padrao">
    <h1 class="titulo_site">Linha do Tempo</h1>

    <ul id="lista_timeline">
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_01.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_direita">
                <span class="seta"></span>
                <p class="ano_timeline">2010</p>
                <img src="images/linha_do_tempo/ano_01.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_direita">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_02.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <p class="ano_timeline">2011</p>
                <img src="images/linha_do_tempo/ano_02.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_03.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_direita">
                <span class="seta"></span>
                <p class="ano_timeline">2012</p>
                <img src="images/linha_do_tempo/ano_03.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_direita">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_04.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <p class="ano_timeline">2013</p>
                <img src="images/linha_do_tempo/ano_04.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_05.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_direita">
                <span class="seta"></span>
                <p class="ano_timeline">2014</p>
                <img src="images/linha_do_tempo/ano_05.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
    </ul>
</div>          <div id="corpo" class="conteudo_padrao">
    <h1 class="titulo_site">Linha do Tempo</h1>

    <ul id="lista_timeline">
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_01.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_direita">
                <span class="seta"></span>
                <p class="ano_timeline">2010</p>
                <img src="images/linha_do_tempo/ano_01.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_direita">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_02.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <p class="ano_timeline">2011</p>
                <img src="images/linha_do_tempo/ano_02.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_03.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_direita">
                <span class="seta"></span>
                <p class="ano_timeline">2012</p>
                <img src="images/linha_do_tempo/ano_03.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_direita">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_04.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <p class="ano_timeline">2013</p>
                <img src="images/linha_do_tempo/ano_04.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="timeline img_timeline flutuacao_esquerda">
                <span class="seta"></span>
                <img src="images/linha_do_tempo/ano_05.png" alt="" />
            </div>
            <div class="timeline texto_timeline flutuacao_direita">
                <span class="seta"></span>
                <p class="ano_timeline">2014</p>
                <img src="images/linha_do_tempo/ano_05.png" alt="" />
                <p class="titulo_timeline">Título</p>
                <span class="descricao_timeline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, et, laboriosam eveniet qui a nobis omnis quibusdam facilis placeat ipsam voluptate consequuntur blanditiis reiciendis? Rerum, harum mollitia placeat deleniti vero.</span>
            </div>
        </li>
    </ul>
</div>
