<a class="button_top_admin" href="#/funcionalidades/new">Adicionar</a>
<h1 class="title_page">Funcionalidades</h1>

<table class="table" id="table_funcionalidades" border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descricao
            </th>
            <th>
                Editar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="funcionalidade in funcionalidades">
            <td>{{funcionalidade.titulo}}</td>
            <td>{{funcionalidade.descricao}}</td>
            <td>
                <a class="button_top_admin" href="#/funcionalidades/edit/{{funcionalidade.id}}">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
